.app-layout {
  min-height: 100%;
}
.logo {
  float: left;
  position: relative;
  height: 64px;
  padding-left: 24px;
  overflow: hidden;
  line-height: 64px;
  background: #001529;
  transition: all .3s;
  img {
    display: inline-block;
    height: 32px;
    width: 32px;
    vertical-align: middle;
  }
  h1 {
    display: inline-block;
    margin: 0 0 0 10px;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    font-family: Avenir,Helvetica Neue,Arial,Helvetica,sans-serif;
    vertical-align: middle;
  }
}

[nz-menu] {
  line-height: 64px;
}

nz-breadcrumb {
  margin: 16px 0;
}

nz-content {
  padding: 0 50px;
  @media screen and (max-width: 1050px) {
    padding: 0;
  }
}

nz-footer {
  text-align: center;
}

.inner-content {
  background: #fff;
  padding: 20px;
  min-height: 280px;
}
